# General
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.swp
*.swo
*.swn
*.sqlite3
*.pid
*.bak
*.pot

# Django specific
local_settings.py
media/
db.sqlite3

# Python environment
env/
venv/
ENV/
venv.bak/
*.pyc

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.tm_project
*.tm_workspace

# Other
.DS_Store
*.sage.py

# Git
.git/

# Env
.env

# Pytest
.pytest_cache